/.idea/debugServers/ST_LINK.xml
/.idea/.gitignore
/.idea/claudeCodeTabState.xml
/.idea/editor.xml
/.idea/Example_STM32F407ZGT6.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/Docs/
/.idea/encodings.xml
/.idea/.name
/Tools/output/gbk_16_uni_map.bin
/Tools/output/gbk_16x16.bin
/Tools/output/gbk_24_uni_map.bin
/Tools/output/gbk_24x24.bin
