/.idea/debugServers/ST_LINK.xml
/.idea/.gitignore
/.idea/claudeCodeTabState.xml
/.idea/editor.xml
/.idea/Example_STM32F407ZGT6.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/Docs/
/.idea/encodings.xml
